:root{
    --vermelho-claro: #FF3263;
    --branco: #FDFDFD;
    --azul-claro: #195198;
    --azul-preto: #00224D;
}

.card {
    background-color: var(--barnco);
    border: 1px solid #FF3263;
    border-radius: 10px;
    flex: 1;
    width: 373px;
    padding-left: 24px;
    padding-top: 26px;
}
  
  .card_title {
    font-size: 22px;
    margin-bottom: 18px;
    font-weight: 600;
    color: var(--azul-claro);
  }
  
  .card_list {
    list-style-type: none;
    padding: 0;
  }
  
  .card_item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .card_avatar {
    border-radius: 50%;
    width: 69px;
    height: 69px;
    margin-right: 28px;
  }
  
  .card_info {
    display: flex;
    flex-direction: column;
  }
  
  .card_name {
    color: var(--azul-preto);
    font-weight: 500;
    font-size: 18px;
  }
  
  .card_details {
    font-size: 16px;
    color: gray;
  }