:root{
    --vermelho-claro: #FF3263;
    --barnco: #FDFDFD;
    --azul-claro: #195198;
    --azul-preto: #00224D;
}

.line {
    background-color: var(--azul-claro);
    width: 70%;
    height: 1px;
    margin: 100px 0 65px 30%;
}

.container{
    margin: 0 40px;
}

.title{
    display: flex;
    gap: 28px;
    margin-bottom: 47px;
}

.title h1{
    color: var(--azul-claro);
    font-weight: 400;
    font-size: 32px;
}

h3{
    color: var(--azul-claro);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
}

.cards_dashboard {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}